

server {
    listen 443 ssl http2;
    server_name drm.example.com;

    root /var/www/drm/;
    index index.php index.html;

    # allow larger file uploads
    client_max_body_size 100m;

    # Barebones TLS configuration example, no OCSP stapling, default ciphers, no HSTS.
    # Generate a proper config here: https://ssl-config.mozilla.org
    # Don't forget to replace these with the actual paths to your certificates!
    ssl_certificate /etc/letsencrypt/live/drm.example.com/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/drm.example.com/privkey.pem;

    add_header X-Content-Type-Options nosniff;
    add_header X-XSS-Protection "1; mode=block";
    add_header Content-Security-Policy "frame-ancestors 'self'";
    add_header X-Frame-Options "SAMEORIGIN";
    add_header Referrer-Policy same-origin;

    location / {
        try_files $uri $uri/ /index.php?route=$uri&$args;
    }

    location ~ \.(tpl|cache|htaccess)$ {
        return 403;
    }

    location ^~ /node_modules/ {
        return 403;
    }

    location ^~ /scripts/ {
        return 403;
    }
    location /download/ {
    deny all;
    }

    location ~ \.php$ {
        fastcgi_pass unix:/run/php/php8.2-fpm.sock;
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        include fastcgi_params;
    	fastcgi_param PHP_VALUE "upload_max_filesize = 10M; post_max_size = 10M; max_execution_time = 600; max_input_time = 600; memory_limit = 128M";

    }
}